<div class="row m-0">
  <div class="user-section col-12 col-md-4">
    <div class="user-section-container">
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key%>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/duomnddyc/image/upload/v1686064765/user_default_q1ttiu.png", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, "aria-haspopup": true, "aria-expanded": false, height: 50, width: 50, crop: :fill%>
      <% end %>
      <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
      <div class="links">
        <% if current_user.github.present? %>
          <%= link_to "https://github.com/#{current_user.github}" do %>
            <i class="fab fa-github" style="color:rgb(205,0,0)"></i>
          <% end %>
        <% end %>
        <% if current_user.linkedin.present? %>
          <%= link_to current_user.linkedin do %>
            <i class="fab fa-linkedin" style="color:rgb(205,0,0)"></i>
          <% end %>
        <% end %>
        <% if current_user.personal_site.present? %>
          <%= link_to current_user.personal_site do%>
            <i class="fa-solid fa-globe" style="color:rgb(205,0,0)"></i>
          <% end %>
        <% end %>
      </div>
      <h5>Sobre mim:</h5>
      <p><%= current_user.about_me %></p>
      <h5>Sobre a minha formação profissional:</h5>
      <p><%= current_user.professional_about %></p>
      <% if current_user.mentor == true %>
        <h5>Sobre a minha transição de carreira</h5>
      <% else %>
        <h5>Motivação para a transição de carreira:</h5>
      <% end %>
      <p><%= current_user.transition_about %></p>
    </div>
  </div>

  <div class="profiles-section col-12 col-md-8">

  <% if @mentors.empty? %>
    <h3 class="mt-5 pt-5">Nenhum mentor disponível por enquanto. :(</h3>
    <h4 class="px-5">Estamos buscando os <span style="color:rgb(205,0,0)">melhores mentores</span> que possam te ajudar na sua transição de carreira.</h4>
  <% else %>
    <h3 class="mx-5 px-5">Esses são os <span style="color:rgb(205,0,0)">mentores</span> que podem te ajudar na sua transição de carreira. </h3>
    <div class="cards">

      <% @mentors.each_with_index do |mentor, index| %>
        <% if index < 15 %>
          <div class="card-category">
            <div class="user-card-img">

              <% if mentor.photo.key %>
                <%= cl_image_tag mentor.photo.key%>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/duomnddyc/image/upload/v1686064765/user_default_q1ttiu.png"%>
              <% end %>

            </div>

            <div class="card-info">
              <h3><%= "#{mentor.first_name} #{mentor.last_name}" %></h3>
              <p><%= mentor.field_of_work %></p>
              <p><%= mentor.mentor_current_employer %></p>
            </div>

            <div class="user-card-footer">
              <%= link_to "Acessar", profile_path(mentor.id), class: "btn button mt-3" %>
            </div>

          </div>
        <% end %>

      <% end %>
    </div>
  <% end %>
  </div>
</div>
