<div class="container p-5 mt-3 card">

  <div class="d-flex align-items-center">
    <div class="profile-user-section">
      <% if @user.photo.key %>
        <%= cl_image_tag @user.photo.key%>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/duomnddyc/image/upload/v1686064765/user_default_q1ttiu.png"%>
      <% end %>
    </div>

    <div>
      <h1 class="fs-1"><%= @user.first_name %> <%= @user.last_name %></h1>
      <h5><span class="badge rounded-pill bg-secondary"><%= @user.field_of_work %></span></h5>
      <h5><%= @user.mentor_current_employer if @user.mentor_current_employer.present? %></h5>
      <h6><%= @user.city %> | <%= @user.state %> | <%= @user.country %></h6>
      <div class="links">
        <% if @user.github.present? %>
          <%= link_to "https://github.com/#{@user.github}" do %>
            <i class="fab fa-github" style="color:rgb(205,0,0)"></i>
          <% end %>
        <% end %>
        <% if @user.linkedin.present? %>
          <%= link_to @user.linkedin do %>
            <i class="fab fa-linkedin" style="color:rgb(205,0,0)"></i>
          <% end %>
        <% end %>
        <% if @user.personal_site.present? %>
          <%= link_to @user.personal_site do%>
            <i class="fa-solid fa-globe" style="color:rgb(205,0,0)"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class="pb-4 border-top">
      <h2 class="pt-5"><span class="fw-bold" style="color: rgb(205, 0, 0);">Sobre</span> mim:</h2>
      <p><%= @user.about_me %></p>

      <h2 class="pt-5"><span class="fw-bold" style="color: rgb(205, 0, 0);">Formação</span> profissional:</h2>
      <div class="d-flex gap-2">
        <h5><span class="badge rounded-pill bg-secondary"><%= @user.professional_field %></h5>
        <h5><span class="badge rounded-pill bg-secondary"><%= @user.academic_degree %></h5>
      </div>
      <p><%= @user.professional_about %></p>
      <% if @user.mentor == false %>
        <h2 class="pt-5"><span class="fw-bold" style="color: rgb(205, 0, 0);">Motivação</span> para a transição de carreira:</h2>
      <% else %>
        <h2 class="pt-5"> <span class="fw-bold" style="color: rgb(205, 0, 0);">Sobre</span> a minha transição de carreira:</h2>
      <% end %>

      <p><%= @user.transition_about %></p>
      <h2 class="pt-5"><span class="fw-bold" style="color: rgb(205, 0, 0);">Linguagens</span> de programação:</h2>
      <h5><span class="badge rounded-pill bg-secondary"><%= @user.programming_language %></span></h5>



      <% if @user.mentor == true %>
        <h2 class="pt-5"><span class="fw-bold" style="color: rgb(205, 0, 0);">Experiência:</span></h2>
        <h5><span class="badge rounded-pill bg-secondary"><%= @user.years_of_experience %></h5>
      <% end %>

    </div>

    <div class="pt-5">
      <div class="d-flex gap-2 mt-2">
      <% if current_user.mentor == false && Match.find_by(mentee_id: current_user.id).nil? && current_user.id != @user.id%>
        <%= simple_form_for @match, url: profile_matches_path(@user), method: :post do |f|%>
          <%= f.submit "Solicitar Mentoria", class: "btn button"  %>
        <% end %>
        <%= link_to "Voltar", profiles_path, class: "btn btn-secondary" %>
      <% end %>
      </div>
      <% if current_user.mentor == true && current_user.id == @user.id %>
        <%= link_to "Seus mentorados", profile_matches_path(current_user), class: "btn btn-secondary" %>
      <% elsif Match.exists?(mentee_id: current_user.id) && current_user.id == @user.id %>
        <%= link_to "Seu mentor", profile_matches_path(current_user), class: "btn button" %>
      <% elsif Match.exists?(mentee_id: current_user.id) && current_user.id != @user.id || current_user.mentor == true && current_user.id != @user.id  %>
        <div class="d-flex justify-content-between">
          <%= link_to "Voltar", profile_matches_path(current_user), class: "btn btn-secondary" %>
          <%= link_to "Excluir mentoria", profile_match_path(id: @matched.id, profile_id: @user.id), data: {turbo_method: :delete, turbo_confirm: 'Você tem certeza que deseja interromper a mentoria?'}, class: "btn btn-danger text-light"%>
        </div>
      <% elsif current_user.id == @user.id%>
        <%= link_to "Encontre seu mentor!", profiles_path, class: "btn button" %>
      <% end %>
    </div>

  </div>

</div>
