
 <h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h2>Sobre mim:</h2>
<p><%= @user.professional_about %></p>

<h2>Formação profissional:</h2>
<p><%= @user.about_me %></p>

<h2>Motivação para a transição de carreira:</h2>
<p><%= @user.transition_about %></p>
