<div class="container p-5 card">

  <div class="d-flex align-items-center">
    <div class="user-section">
      <%= cl_image_tag @user.photo.key%>
    </div>

    <div>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <h2><%= @user.mentor_current_employer if @user.mentor_current_employer.present? %> <%= @user.field_of_work %></h2>
      <div class="links">
        <%= link_to current_user.github, target:"_blank" do %>
              <i class="fab fa-github" style="color:rgb(205,0,0)"></i>
            <% end %>
        <%= link_to current_user.linkedin, target:"_blank" do %>
              <i class="fab fa-linkedin" style="color:rgb(205,0,0)"></i>
            <% end %>
        <%= link_to current_user.personal_site, target:"_blank" do%>
              <i class="fa-solid fa-globe" style="color:rgb(205,0,0)"></i>
            <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class="pb-4 border-top">
      <h2 class="pt-5">Sobre mim:</h2>
      <p><%= @user.about_me %></p>

      <h2 class="pt-5">Formação profissional:</h2>
      <p><%= @user.professional_about %></p>

      <% if @user.mentor == false %>
        <h2 class="pt-5">Motivação para a transição de carreira:</h2>
      <% else %>
        <h2 class="pt-5">Sobre a minha transição de carreira:</h2>
      <% end %>
      <p><%= @user.transition_about %></p>
    </div>

    <div class="pt-5">
      <div class="d-flex gap-2 mt-2">
      <% if current_user.mentor == false && Match.find_by(mentee_id: current_user.id).nil? && current_user.id != @user.id%>
        <%= simple_form_for @match, url: profile_matches_path(@user), method: :post do |f|%>
          <%= f.submit "Solicitar Mentoria", class: "btn button"  %>
        <% end %>
        <%= link_to "Voltar", profiles_path, class: "btn btn-secondary" %>
      <% end %>
      </div>
      <% if current_user.mentor == true && current_user.id == @user.id %>
        <%= link_to "Seus mentorados", profile_matches_path(current_user), class: "btn btn-secondary" %>
      <% elsif Match.exists?(mentee_id: current_user.id) && current_user.id == @user.id %>
        <%= link_to "Seu mentor", profile_matches_path(current_user), class: "btn button" %>
      <% elsif Match.exists?(mentee_id: current_user.id) && current_user.id != @user.id || current_user.mentor == true && current_user.id != @user.id  %>
      <%= link_to "Voltar", profile_matches_path(current_user), class: "btn btn-secondary" %>
      <% elsif current_user.id == @user.id%>
        <%= link_to "Encontre seu mentor!", profiles_path, class: "btn button" %>
      <% end %>
      <%= link_to "Voltar", profile_matches_path(@user), class: "btn btn-secondary" %>
    </div>

  </div>

</div>
