<p>Olá, <%= @user.first_name %>!</p>

<p>Espero que você esteja bem! Gostaria de confirmar o aceita do seu compromisso de mentoria para orientar <%= @mentee.first_name %>. Parabéns!</p>

<p>Primeiramente, quero agradecer por se voluntariar como mentor na <strong>Compass</strong>. Sua experiência e conhecimento vão fazer toda a diferença no crescimento e desenvolvimento de seus mentorados.</p>

<p>A partir de agora, você é oficialmente o mentor de <strong><%= @mentee.first_name %></strong>. Que responsabilidade, hein? Mas não se preocupe, estamos aqui para te apoiar em tudo o que precisar para tornar essa mentoria um sucesso!</p>

<p>Agora é hora de entrar em contato com <strong><%= @mentee.first_name %></strong> e trocar aquela ideia para acertar os detalhes iniciais do programa. Vocês vão discutir horários de reunião, a forma como vão se encontrar e quais são as expectativas. Lembre-se de que cada mentorado tem suas próprias metas e desafios, então é importante escutar com atenção para entender as necessidades específicas de <strong><%= @mentee.first_name %></strong> e oferecer uma orientação personalizada.</p>

<p>Tenho certeza de que vocês vão formar uma dupla sensacional e alcançar grandes conquistas juntos!</p>

<p>Estamos animados para ver os resultados dessa mentoria!</p>

<p>Abraços,</p>

<p>Compass</p>
