<div class="container d-flex">
  <div class="profile-section d-flex flex-column">
    <% if current_user.photo.key %>
      <%= cl_image_tag current_user.photo.key, id: "navbarDropdown", data: { bs_toggle: "dropdown" }, "aria-haspopup": true, "aria-expanded": false, height: 50, width: 50, crop: :fill %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/duomnddyc/image/upload/v1686064765/user_default_q1ttiu.png", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, "aria-haspopup": true, "aria-expanded": false, height: 50, width: 50, crop: :fill%>
    <% end %>

    <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>

    <% if current_user.github %>
      <%= link_to current_user.github %>
    <% end %>

    <% if current_user.linkedin %>
      <%= link_to current_user.linkedin %>
    <% end %>

    <% if current_user.personal_site %>
      <%= link_to current_user.personal_site %>
    <% end %>

    <h3>Sobre mim:</h3>
    <h3>Formação Profissional:</h3>
    <h3>Motivação para a transição de carreira:</h3>
  </div>
  <div class="users-section">
    <h2>Mentores sugeridos</h2>
    <div class="user-card-grid">
      <% @mentors.each do |mentor| %>
        <div class="user-card">
          <div class="user-card-img">
            <% if mentor.photo.key %>
              <%= cl_image_tag mentor.photo.key, height: 50, width: 50, crop: :fill%>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/duomnddyc/image/upload/v1686064765/user_default_q1ttiu.png", height: 50, width: 50, crop: :fill%>
            <% end %>
          </div>
          <div class="user-card-header">
            <div class="user-card-header-info">
              <h3><%= "#{mentor.first_name} #{mentor.last_name}" %></h3>
              <p><%= mentor.field_of_work %></p>
              <p><%= mentor.mentor_current_employer %></p>
            </div>
          </div>
            <div class="user-card-footer">
              <%= link_to "Acessar", user_path(mentor.id), class: "btn btn-danger text-light" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
