<div class="signin-background">
  <div class="card-signup">
    <h3 class="mb-4">Esqueceu a sua senha?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Enviar instruções de recuperação", class: "btn button mb-3" %>
      </div>
    <% end %>
    <%= link_to "Back", :back, class: "btn btn-secondary" %>

  </div>
</div>
