<div class="banner" style="background-image: linear-gradient(rgba(255,0,0,0.7),rgba(255,0,0,0.1)), url(https://res.cloudinary.com/duomnddyc/image/upload/v1686074040/loginpichor.png);">
  <div class="container">
    <p>Quem são os idealizadores da</p>
    <h1>C<span><i class="fa-regular fa-compass" style="color: #ffffff;"></i></span>MPASS</h1>
  </div>
</div>

<div class="container">

  <div class="col m-5 p-1 ">
    <h4></h4>
    <p>Somos um grupo de três profissionais determinados a fazer
    uma transição de carreira para a área de tecnologia. Com trajetórias profissionais diversas,
    conhecemos e compartilhamos os desafios e as incertezas que surgem ao embarcar nessa jornada.
    Movidos pela vontade de aprender, compartilhar conhecimentos e apoiar outros profissionais em
    transição, decidimos criar esta plataforma. Nosso objetivo é oferecer criar um ambiente de colaboração
    e conexão onde todos possam se sentir acolhidos, aprendendo e crescendo juntos.</p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-4">
      <div class="card-about">

      <div class="img-about">
        <img src="https://media.licdn.com/dms/image/C4D03AQGq0ToeFRQbYw/profile-displayphoto-shrink_200_200/0/1648499208017?e=1692230400&v=beta&t=LGZRlvSWxiIfcRmSSGuTdMrI-dpWT4JxsMNkcRPZROg" alt="gabriel" class="img-about">
      </div>

        <div class="d-flex gap-2">
          <h4>Gabriel Leibel</h4>
          <%= link_to "https://github.com/gfleibel" do %>
            <i class="fab fa-github pt-2" style="color:rgb(205,0,0)"></i>
          <% end %>
          <%= link_to "https://wwww.linkedin.com/in/gabrielleibel" do %>
            <i class="fab fa-linkedin pt-2" style="color:rgb(205,0,0)"></i>
          <% end %>
        </div>
        <p>Com formação em Administração de Empresas e experiência em Marketing e Inteligência de Mercado, Gabriel
        decidiu se aventurar no mundo da programação e dados. Fez diversos cursos na área e atualmente é formado no bootcamp de
        Desenvolvimento Web Full Stack da <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4">
      <div class="card-about">

        <div class="img-about">
          <img src="https://media.licdn.com/dms/image/D4D03AQF3jxnEmM-Wdg/profile-displayphoto-shrink_200_200/0/1686350616137?e=1692230400&v=beta&t=D06X71ZrPrfXQyZFZyLa-4SYIssGHND_EtYGcVEoQhY" alt="vitoria" class="img-about">
        </div>

        <div class="d-flex gap-2">
          <h4>Vitória Vital</h4>
          <%= link_to "https://github.com/vitoriavital" do %>
            <i class="fab fa-github pt-2" style="color:rgb(205,0,0)"></i>
          <% end %>
          <%= link_to "https://wwww.linkedin.com/in/vitoriavital" do %>
            <i class="fab fa-linkedin pt-2" style="color:rgb(205,0,0)"></i>
          <% end %>
        </div>
        <p>xxxxxxxxxx. É formada no bootcamp de
        Desenvolvimento Web Full Stack da <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4">
      <div class="card-about">

        <div class="img-about">
          <img src="https://media.licdn.com/dms/image/D4D03AQG8Jda4IQb3iQ/profile-displayphoto-shrink_200_200/0/1685711311680?e=1692230400&v=beta&t=kJxzuArI248Rl6TKDMZb8nO1xZVk6nLW-pwZwSPTI4I" alt="gabriel" class="img-about">
        </div>

        <div class="d-flex gap-2">
          <h4>Ronalde Monezzi</h4>
          <%= link_to "https://github.com/RonMon80" do %>
            <i class="fab fa-github pt-2" style="color:rgb(205,0,0)"></i>
          <% end %>
          <%= link_to "https://wwww.linkedin.com/in/xxx" do %>
            <i class="fab fa-linkedin pt-2" style="color:rgb(205,0,0)"></i>
          <% end %>
        </div>
        <p> Ronalde é saxofonista, formado em Música.
        Durante o desenvolvimento de seu doutorado em Música e Tecnologia na Universidade de São Paulo (USP), se aprofundou no mundo da programação no intuito de explorar novas perspectivas em processos criativos e interdisciplinaridade.
        É formado no bootcamp de Desenvolvimento Web Full Stack da <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>.
        </p>
      </div>
    </div>
  </div>

</div>






</div>
