<!DOCTYPE html>
<html>
  <head>
    <title>Compass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/divlfrgfp/image/upload/v1686770220/compasslogo.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="d-flex flex-column justify-content-between m-0 p-0">
    <div>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
